*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



#backgroundVideo {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    background-size: cover;
}

body
{
    background: url("../img/background.jpeg")no-repeat;
    margin: auto;
    max-width: 50%;
} 

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    justify-content: center;
    align-items: center;
    background: url("../img/companylogoBG.jpg");
    height: 150px;
    background-position: center;
    background-size: cover;
    display: flex;
    color: #ffffff;
    font-size: 4em;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

h1 img{
    width: 100%;
    height: auto;
}

.images
{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#productThing{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2699FB;
    text-align: center;
    font-size: 2em;
    text-align: center;
    padding: 2%;
    margin: 0%;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 10px;   
}
.imageHeaders{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2699FB;
    text-align: center;
    font-size: 2em;
    text-align: center;
    padding: 0.5%;
    margin: 0%;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 7;
}

.nav{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.05em solid #ffffff;
    background-color: #707070;
    font-size: 1em;
    padding: 1%;
}

/* display menu items in a line*/
.nav li{
    display:inline;
}
.nav a{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    padding:1px;
    margin: 0%;
    text-decoration: none;
    color: #ffffff;
}
.nav ul{
    margin: 0%;
    padding: 0%;
    text-align: center;
    word-spacing: 200%;
    text-transform: uppercase;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border:1px solid #ffffff;
    padding: 0.3em;
}

#products{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    background-color: #ffffff;
}

#photos{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
}

#photos img{
    margin: 10px;
	width: 200px;
	height: 150px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    background-color: #f5f5f5;
    padding: 1.5%;
}

form{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    align-content: center;
}

form fieldset{
    max-width: 87%;
    padding: 3%;
    margin: 3%;
    margin-left: 6%;
    margin-top: 0%;
    border: 2px solid #707070;
}

input{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 1em;
}

fieldset{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    font-size: 1em;
    color: #AAAAAA; 
}

textarea{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


select{
    float: right;
}

#button{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    max-width: 87%;
    position: relative;
    left: 43px;
    top: -10px;
    background-color: #2699FB;
    color: #ffffff;
    font-size: 1.5em;
}

@media screen and (max-width: 359px){
    #backgroundvideo{
        display: none;
    }

}

@media screen and (min-width: 360px) and (max-width:960px){
    #backgroundvideo{
        display: none;
    }
    
}

@media screen and (min-width: 961px){

   
}