body
{
    background: url("../img/background.jpeg")no-repeat;  
}

body
{
 margin: auto;
 max-width: 50%;
} 

h1
{
    margin: 0%;
    justify-content: center;
    align-items: center;
    background: url("../img/companylogoBG.jpg");
    height: 150px;
    background-position: center;
    background-size: cover;
    display: flex;
    color: #ffffff;
}

h1 img{
    width: 100%;
    height: auto;
}

video{
    display: none;
}

.images
{
    max-width: 100%;
    max-height: 100%;
}


.imageHeaders
{
    background-color: rgb(48, 153, 251);
    text-align: center;
    font-size: 2em;
    text-align: center;
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
    color: #ffffff;
}

.nav{
    border: 0.05em solid #ffffff;
    background-color: #707070;
    text-align: center;
    font-size: 1em;
    padding: 1%;
}

/* display menu items in a line*/
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:1px;
    margin: 0%;
    text-decoration: none;
    color: #ffffff;
}
.nav ul{
    margin: 0%;
    padding: 0%;
}

footer
{
text-align: center;
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
border:1px solid rgb(255, 255, 255);
padding: 0.3em;
}

@media screen and (max-with: 359px){


}

@media screen and (min-with: 360px) and (max-width:960px){

    
}

@media screen and (min-with: 961px){

    video {
        display: initial;
        position: absolute;
        z-index: -1;
        max-width: 100%;
    }
}